<article class="mainmain">

<div class="main-button">
<h1><a class="short" href="score">Score One Word</a></h1>
</div>

<div class="main-button">
<h1> <a class="long" href="score_many">Score Mulple Words</a> </h1>
</div>
</article>
