<!DOCTYPE html>
<html>
<head>
  <title>Melissa Jimison</title>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="css" href="./public/stylesheets/styles.css">


</head>
<body class="home">

  <header>

    <nav>
      <ul>
        <a class="logo" href="/">Fun Scrabble</a>
        <li><a href="/">Home</a></li>
        <li><a href="score">Single word</a></li>
        <li><a href="score_many">Multiple words</a></li>
      </ul>
    </nav>
  </header>

  <main>


    <%= yield %>


  </main>

  <footer>
    <small>
      &copy; 2016 Copyright, Melissa Jimison - All rights reserved.
    </small>
  </footer>
</body>
</html>
