<!DOCTYPE html>
<html>
<head>
  <title>Melissa Jimison</title>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="css" href="stylesheets/styles.css">
</head>
<body class="home">

  <nav>
    <ul>
      <a class="logo" href="index">Fun Scrabble</a>
      <li><a href="index">Home</a></li>
      <li><a href="score">Score one word</a></li>
      <li><a href="score_many">multiple words</a></li>
    </ul>
  </nav>

  <div class="index-container">


    <%= yield %>


  </div>

  <footer class="footer-index">

    <figure class="social-media-box">
      <a href="https://www.facebook.com/MelissaJimison"> <img class="social-media" src="images/facebook-logo.jpg" alt="Facebook logo" target="_blank">
      </a>

      <a href="https://twitter.com/melissajimison"> <img class="social-media" src="images/twitter-logo.jpg" alt="Twitter logo" target="_blank">
      </a>

      <a href="https://instagram.com/melissajimison"> <img class="social-media" src="images/instagram-logo.jpg" alt="Instagram logo" target="_blank">
      </a>

      <a href="hhttps://co.linkedin.com/in/melijimison"> <img class="social-media" src="images/linkedin-logo.jpg" alt="Linkedin logo" target="_blank">
      </a>

    </figure>
    <copy-rights>
      &copy; 2016 Copyright, Melissa Jimison - All rights reserved.
  </copy-rights>
</footer>
</body>
</html>
