<article class="mainmain">


<form action="" method="post" accept-charset="utf-8">
  <label for="user_word">Your Word</label>
  <input type="text" maxlength="7" name="word" value="" id="user_word">

  <input type="submit" value="Score!">
</form>

<% if @points %>
<h1> '<%= params["word"] %>' = <%= @points %> points!!  </h1>
<% if @by_letter %>
<%= erb :points %>
<% end %>
<% end %>
</article>
