<article class="mainmain">

<form action="" method="post" accept-charset="utf-8">
  <label for="user_word">Please enter your words separed by space</label>
  <input type="text" name="words" value="" id="user_word">


  <input type="submit" value="Score!">
</form>


<% if @multiple_scores %>
<ul class="mess">
  <% @multiple_scores.each do |pairs| %>
  <li><h1> '<%= pairs[1] %>' = <%= pairs[0] %> points!! </h1>
    <% if @by_letter_many %>
      <% @by_letter_many[pairs[1]].each do |pair| %>
      <h3><%= pair[0] %> = <%= pair[1] %> </h3>
    <% end %>
    <% end %>
    </li>
  <% end %>
</ul>
<% end %>
</article>
