<!-- <% if @my_peep %>
  <h1>Hi <%= @my_peep.username %>!!
    I love <%= @my_peep.favorite_animal %> too!
  </h1>
<% end %>
-->

<div class="params">
  <%= params %>
  <!-- params = ["word", "melissa"] -->
</div>

<form action="" method="post" accept-charset="utf-8">
  <label for="user_word">Your Word</label>
  <input type="text" name="word" value="" id="user_word">

  <input type="submit" value="Submit">
</form>
