
<form action="" method="post" accept-charset="utf-8">
  <label for="user_word">Your Word</label>
  <input type="text" name="word" value="" id="user_word">

  <input type="submit" value="Submit">
</form>

<% if @points %>
<h1> The score fo the word '<%= params["word"] %>' is <%= @points %> points!!  </h1>
<% end %>
