/************LAYOUT*****************/

* {
  box-sizing: border-box;
}

html{
  /*background-color: #D4FFEB;*/
}

body {
  font-size: 16px;
  font-family: helvetica;
  background-image: repeating-linear-gradient( 45deg, #85D5E6 0px, #85D5E6 30px, #71C1D2 30px, #71C1D2 60px );
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  border: solid yellow;
  padding: 0;
  margin: 0;
  overflow: auto;
  position: relative;
  float: none;
  clear: both;
  background-color: #2DA8AB;
  height: 8vh;
}

nav ul {
  list-style: none;
  /*opacity: 0.8;*/
  text-align: right;
  padding: 0;
  margin: 0;
  /*overflow: auto;*/
  padding-left: 10%;
  padding-right: 10%;
}

nav li {
  border: solid red;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  display: inline-block;
  width: 220px;
  text-align: center;
  height: 8vh;
  padding-top: 1rem;
}

.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2rem;
  color: #FFF;
  float: left;
  margin: 0;
  height: 8vh;
  border: solid green;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav li:hover {
  background-color: #3B5F66;
}

nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


h1, h3 {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

h1{
  font-size: 2.5rem;
}

h3{
  font-size: 1.5rem;
  line-height: 1.3rem;
}

.mainmain {
  /*margin-top: 13vw;*/
  /*margin-bottom: 3vh;*/
  /*display: inline;*/
  width: 100%;
  padding: 0;
  padding-top: 2.5rem;
  position: relative;
  border: solid blue;
  height: 86.5vh;
  float: right;
  overflow: auto;

}
/*********************END****************/

/*********************PAGE****************/
form {
  text-align: center;
  overflow: auto;
  border: solid white;
  margin-bottom: 1.6rem;
}

label {
  font-size: 36px;
  font-family: 'Noticia Text',serif;
}

input {
  border: solid green;
  /*height: 40px;*/
  font-size: 36px;
}

ul.mess {
  border: solid red;
  background-color: #ccc;
  opacity: .5;
  padding: 0;
  margin: 0;
  overflow: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.mess > li {
  /*overflow: auto;*/
  border: solid purple;
  display: inline-block;
  width: 350px;
  height: 533px;
  /*height: 8vh;*/
  text-align: center;
  padding: 0;
  margin: 0;
}

/*********************END****************/


footer {
  background-color: #2DA8AB;
  width: 100%;
  margin-bottom: 0;
  bottom: 0;
  height: 5.5vh;
  position: relative;
  float: right;
  overflow: auto;
  clear: both;
  text-align: center;
  /*border: solid orange;*/
}


small {
  /*float: right;*/
  border: solid red;
  height: 5.5vh;
  color: white;
  float: right;
  padding-top: 1.2vh;
  margin-right: 10%;
}
